footer {
    width: 100%;
    height: 7rem;
    background-color: #004AAD;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    font-size: 1.5rem;
    color: #FFFFFF;
}

footer span a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 550;
}