header {
    height: 100vh;
    width: 100%;
    background-color: #004AAD;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header a img {
    width: 50px;
    height: 50px;
    margin-top: 4rem;
}

header .box-logo {
    height: auto;
    width: 100%;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .box-logo img {
    width: clamp(10rem, 80vw, 30rem);
    display: block;
    margin-bottom: 2rem;
}

header h1 {
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: clamp(3rem, 10vw, 4.2rem);
    text-align: center;
    color: #FFFFFF;
}

@media(min-width: 1024px), (orientation: landscape) {
    header {
        height: 15rem;
    }
    
    header .box-logo {
        height: 15rem;
        width: 100%;
        padding: 0 6rem;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header .box-logo img {
        height: 10rem;
        width: auto;
        display: block;
        margin-bottom: 0;
    }
    
    header a img {
        display: none;
    }

    header h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1400px) {
    header .box-logo {
        width: 1300px;
        margin: 0 auto;
    }
}