:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100vw;
}

main {
    min-width: 100%;
}

main #message {
    padding: 4rem;
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    color: #004AAD;
    text-align: center;
}

main section + #message {
    margin-top: 4rem;
}

.box-samples {
    width: 100%;
    padding: 0 4rem;

    display: grid;
    row-gap: 4rem;
    grid-template-columns: 1fr;
    justify-items: center;
}

.box-samples .grid-item {
    width: 20rem;
    height: 26rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: #004AAD;
    color: #FFFFFF;
    position: relative;
}

.box-samples .grid-item .box-image {
    width: 100%;
    height: 20rem;
    border: 2px solid #004AAD;
    border-radius: 1.5rem;
    overflow: hidden;
}

.box-samples .grid-item .box-image img {
    width: 100%;
    height: 100%;
}

.box-samples .grid-item .box-info-sample {
    width: 100%;
    height: 6rem;
    padding: 0.8rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-samples .grid-item .box-info-sample p {
    font-size: 2rem;
}

.box-samples .grid-item .box-info-sample strong {
    font-size: 1.5rem;
}

.box-samples .grid-item #quantity {
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;

    background-color: #004AAD;
    border-radius: 0 1.5rem 0 5.5rem;

    padding: 0.5rem 0.3rem 0 1.5rem;
    font-size: 3rem;
    text-align: center;
}

.box-samples .grid-item #back {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 5.5rem;
    height: 5.5rem;

    background-color: #E43030;
    border-radius: 1.5rem 0 5.5rem 0;

    padding: 1rem 1rem 0 0.5rem;
    text-align: center;
}

.box-samples .grid-item #back img {
    width: 3rem;
}

@media(min-width: 650px) {
    .box-samples {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1000px) {
    .box-samples {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1400px) {
    .box-samples {
        width: 1400px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}