:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100vw;
}

main {
    min-width: 100%;
}

main #message {
    padding: 4rem 4rem 0;
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    color: #004AAD;
    text-align: center;
}

.box-samples {
    width: 100%;
    padding: 4rem;

    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    justify-items: center;
}

.box-samples .grid-item {
    width: 25rem;
    height: 25rem;
    border: 2px solid #004AAD;
    border-radius: 1.5rem;
    cursor: pointer;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-samples .grid-item img {
    width: 17rem;
}

.box-samples .grid-item p,
.box-samples .grid-itemn small {
    margin-top: 0.8rem;
}

.box-samples .grid-item p {
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.box-samples .grid-item strong {
    font-size: 1.5rem;
}

@media(min-width: 700px) {
    .box-samples {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1050px) {
    .box-samples {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1400px) {
    .box-samples {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}